<!doctype html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Previsão Mensal de Vendas com Modelo Prophet </title>
	</head>

	<body>
		<div align="center">
			<h1>Previsão Mensal de Vendas</h1>
			<img src="../static/prophet.png" alt="Prophet">
		</div>
		<div align="center">
			<h3>Digite o Número de Meses Para o Horizonte de Previsão</h1>
			<form action=http://localhost:3000/forecast method="POST">
				<input type="text" name="horizonte">
				<input type="submit" name="Enviar" value="Enviar">
			</form>
		</div>
	</body>
</html>