<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ds</th>
      <th>yhat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>36</th>
      <td>2017-01-01</td>
      <td>1332.910391</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2017-02-01</td>
      <td>297.037589</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2017-03-01</td>
      <td>1525.529956</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2017-04-01</td>
      <td>965.398393</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2017-05-01</td>
      <td>1358.815970</td>
    </tr>
    <tr>
      <th>41</th>
      <td>2017-06-01</td>
      <td>1008.812157</td>
    </tr>
    <tr>
      <th>42</th>
      <td>2017-07-01</td>
      <td>864.867245</td>
    </tr>
    <tr>
      <th>43</th>
      <td>2017-08-01</td>
      <td>790.707498</td>
    </tr>
    <tr>
      <th>44</th>
      <td>2017-09-01</td>
      <td>1218.777404</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2017-10-01</td>
      <td>1566.094813</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2017-11-01</td>
      <td>1315.903622</td>
    </tr>
    <tr>
      <th>47</th>
      <td>2017-12-01</td>
      <td>1343.235541</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2018-01-01</td>
      <td>1191.954281</td>
    </tr>
    <tr>
      <th>49</th>
      <td>2018-02-01</td>
      <td>695.844527</td>
    </tr>
    <tr>
      <th>50</th>
      <td>2018-03-01</td>
      <td>1581.808262</td>
    </tr>
    <tr>
      <th>51</th>
      <td>2018-04-01</td>
      <td>1082.415739</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2018-05-01</td>
      <td>1288.489240</td>
    </tr>
    <tr>
      <th>53</th>
      <td>2018-06-01</td>
      <td>1069.051323</td>
    </tr>
    <tr>
      <th>54</th>
      <td>2018-07-01</td>
      <td>1058.781741</td>
    </tr>
    <tr>
      <th>55</th>
      <td>2018-08-01</td>
      <td>1227.166327</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2018-09-01</td>
      <td>1368.038467</td>
    </tr>
    <tr>
      <th>57</th>
      <td>2018-10-01</td>
      <td>1268.890226</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2018-11-01</td>
      <td>1470.412678</td>
    </tr>
    <tr>
      <th>59</th>
      <td>2018-12-01</td>
      <td>1674.716270</td>
    </tr>
    <tr>
      <th>60</th>
      <td>2019-01-01</td>
      <td>1052.169412</td>
    </tr>
    <tr>
      <th>61</th>
      <td>2019-02-01</td>
      <td>1097.506277</td>
    </tr>
    <tr>
      <th>62</th>
      <td>2019-03-01</td>
      <td>1633.490505</td>
    </tr>
    <tr>
      <th>63</th>
      <td>2019-04-01</td>
      <td>1196.466980</td>
    </tr>
    <tr>
      <th>64</th>
      <td>2019-05-01</td>
      <td>1218.526289</td>
    </tr>
    <tr>
      <th>65</th>
      <td>2019-06-01</td>
      <td>1134.714941</td>
    </tr>
    <tr>
      <th>66</th>
      <td>2019-07-01</td>
      <td>1258.314466</td>
    </tr>
    <tr>
      <th>67</th>
      <td>2019-08-01</td>
      <td>1661.319255</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2019-09-01</td>
      <td>1506.783033</td>
    </tr>
    <tr>
      <th>69</th>
      <td>2019-10-01</td>
      <td>971.479646</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2019-11-01</td>
      <td>1632.682051</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2019-12-01</td>
      <td>2005.154905</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2020-01-01</td>
      <td>913.706206</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2020-02-01</td>
      <td>1501.750292</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2020-03-01</td>
      <td>1934.283637</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2020-04-01</td>
      <td>1314.981985</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2020-05-01</td>
      <td>1898.896032</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2020-06-01</td>
      <td>1423.534361</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2020-07-01</td>
      <td>1146.392820</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2020-08-01</td>
      <td>821.992433</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2020-09-01</td>
      <td>1528.668876</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2020-10-01</td>
      <td>2332.259185</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2020-11-01</td>
      <td>1638.760344</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2020-12-01</td>
      <td>1480.548823</td>
    </tr>
    <tr>
      <th>84</th>
      <td>2021-01-01</td>
      <td>1802.551595</td>
    </tr>
    <tr>
      <th>85</th>
      <td>2021-02-01</td>
      <td>766.678793</td>
    </tr>
    <tr>
      <th>86</th>
      <td>2021-03-01</td>
      <td>1995.171161</td>
    </tr>
    <tr>
      <th>87</th>
      <td>2021-04-01</td>
      <td>1435.039597</td>
    </tr>
    <tr>
      <th>88</th>
      <td>2021-05-01</td>
      <td>1828.457175</td>
    </tr>
    <tr>
      <th>89</th>
      <td>2021-06-01</td>
      <td>1478.453361</td>
    </tr>
    <tr>
      <th>90</th>
      <td>2021-07-01</td>
      <td>1334.508450</td>
    </tr>
  </tbody>
</table>